assignment_1_movies.log
movie_tropes.log
movie_list.log
movie_assignment.log
assignment_movies.log
assignment_movies.out
assignment_movies.aux
jungle_movies.log
tropical_tropes.log
movie_assignment.html
jungle_movies.pdf
movie_list.html
movies_on_reserve_UF_lib.Rmd
movie_assignment.pdf
movie_tropes.pdf
.Rhistory
