Netflix Template - PPT.pptx
animal_tinder_profiles.pptx
A-Day-in-Your-Life-with-Palm-Oil-based-on-a-design-by-Philadelphia-Zoo.png
InfoG_layoutCheatSheet.png
Infographic_Assignment_Guidelines_and_Tips_page_1.pdf
Infographic_Rubric.doc
message_box.png
rubric_compass.csv
rubric_info.csv
rubric_reflection.csv
rubric_social.csv
types_of_infoGraphics.png
